



    /* Font imports */
     @font-face {
       font-family: 'Styrene A';
       src: url('https://assets.anthropic.com/m/1230f9b0f8df18e5/original/StyreneALC-Medium.otf') format('opentype');
       font-weight: 500;
       font-style: normal;
       font-display: swap;
     }
     
     @font-face {
       font-family: 'Styrene B';
       src: url('https://assets.anthropic.com/m/78f19c4a1fe4b2b6/original/StyreneBLC-Medium.otf') format('opentype');
       font-weight: 500;
       font-style: normal;
       font-display: swap;
     }
     
     @font-face {
       font-family: 'Styrene B';
       src: url('https://assets.anthropic.com/m/615ef9f8465bfb6f/original/StyreneBLC-Regular.otf') format('opentype');
       font-weight: 400;
       font-style: normal;
       font-display: swap;
     }
     
     @font-face {
       font-family: 'Copernicus';
       src: url('https://assets.anthropic.com/m/5a8c34e711888067/original/Copernicus-Book.otf') format('opentype');
       font-weight: 400;
       font-style: normal;
       font-display: swap;
     }
     
     @font-face {
       font-family: 'Tiempos';
       src: url('https://assets.anthropic.com/m/758199899f64927d/original/TiemposText-Medium.otf') format('opentype');
       font-weight: 500;
       font-style: normal;
       font-display: swap;
     }



    a {
        color: #1694D1;
    }

    a:hover, a:focus, .back-to-catalog-v3:hover,
    .header-left .left-nav-toggle:hover {
        color: #106f9c;
    }

    #lp-left-nav .lesson {
        color: #50aedc;
    }

    #lp-left-nav .lesson:hover,
    #lp-left-nav .lesson:active {
        background: #093e57;
        color: white;
    }

    #lp-left-nav .lesson-active,
    #lp-left-nav .current-item {
        background: #1694D1;
        color: white;
    }

    #lp-left-nav .left-nav-return {
        color: #1694D1;
    }

    .link-color {
        color: #1694D1;
    }

    .theme-color {
        color: #1694D1;
    }

    .theme-color-bg {
        background-color: #1694D1;
    }

    .theme-color-border-hover:hover, .theme-color-border-hover:focus {
        border-color: #1694D1;
    }

    a.theme-no-hover{
        color: #1694D1;
    }

    a.theme-no-hover:hover, a.theme-no-hover:focus {
        color: #1694D1;
    }

    .tooltip {
        background: #0c5375;
        border: 1px solid #093e57;
    }

    .tooltip.tip-top .nub {
        border-color: transparent transparent #0c5375 transparent;
    }

    @media only screen and (min-width: 768px) {
        .tooltip.tip-top .nub {
            border-color: #0c5375 transparent transparent transparent;
        }
    }

    #curriculum-list-2 ul.scorm-item-list {
        border-color: #1694D1;
    }

    
    





    #header,
    #header-mobile-dropdown {
        background-color: #f0eee6 !important;
    }

    .sj-nested-header-links #header .header-dropdown__menu {
        background-color: #f0eee6 !important;
    }




    #header, .header-link,
    .header-left .left-nav-toggle {
        color: #141413;
    }

    #header .header-dash-dropdown {
        color: #141413;
    }

    #header .header-dropdown-button:before {
        border-color: #141413 transparent transparent transparent;
    }




    button, .button {
        background-color: #0164CC;
        border-color: #004b99;
    }

    button:hover:disabled, .button:hover:disabled,
    button:disabled:focus, .button:disabled:focus,
    button:focus, .button:focus,
    button:disabled, .button:disabled,
    button:hover, .button:hover,
    .button.disabled, .button.disabled:focus, .button.disabled:hover {
        background-color: #004b99;
        border-color: #003872;
    }

    .button-background {
        background-color: #0164CC;
    }

    .button-background-shade3 {
        background-color: #002a55;
    }


    .button-group li {
        background-color: #0164CC;
        border-right-color: #6fa7e1;
    }
    .button-group li:hover {
        background-color: #408ad8;
    }
    .button-group li.active,
    .button-group li:active {
        background-color: #004b99;
    }

    .button-border-color {
        border-color: #0164CC;
    }

    a.coursebox-container .sj-ribbon-wrapper .sj-ribbon,
    a.coursebox-container .sj-course-ribbon-wrapper .sj-course-ribbon {
        color: #002a55;
        border-color: #0164CC;
        background: #93bde8;
    }

    a.coursebox-container .sj-ribbon-wrapper .sj-ribbon-complete,
    a.coursebox-container .sj-course-ribbon-wrapper .sj-course-ribbon-complete {
        border-color: #0164CC;
        background: #0164CC;
    }

    .quiz .question .form-answers .linear-scale-question__choice__label.linear-scale-question__choice__selected {
      background: #0164CC;
    }

    .star .star__full:active{
        color: #004b99;
    }




/* LEX styles */


    
        /* focus styles */

        button:not(.focus-after-v2):focus::before,
        a.button:focus::before,
        .focus-link-v2:focus::before,
        .course-text-content a:focus::before,
        #profile-course-table td > a:focus::before,
        .page-content-block.theme-v3 a:focus::before,
        .html-content-block.theme-v3 a:focus::before,
        input[type="text"]:focus,
        input[type="password"]:focus,
        input[type="date"]:focus,
        input[type="datetime"]:focus,
        input[type="datetime-local"]:focus,
        input[type="month"]:focus,
        input[type="week"]:focus,
        input[type="email"]:focus,
        input[type="number"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="time"]:focus,
        input[type="url"]:focus,
        textarea:focus,
        input[type="text"].catalog-search-input:focus,
        input[type="text"].sj-search-input:focus,
        .focus-link-v2:focus::before,
        a.coursebox-container:focus,
        .filter-group-title:focus::before,
        #ep-footer .language-pack-wrapper #languagePackSelect:focus,
        select:focus,
        #lp-footer .toggle-fullscreen:focus::before,
        #header .header-dropdown-button:focus img,
        .inline-collapsible-section__label:focus::before,
        .alert-box a:focus::before,
        #change-avatar-button #upload-new-avatar-button:focus::before,
        .linear-scale-question__choice__label:focus-within {
            border: 1px solid #004b99;
            box-shadow: 0 0 0 3px #408ad8;
        }
        input[type='radio']:checked,
        input[type='radio']:disabled:active:checked {
            border-color: #004b99;
        }
        input[type='radio']:checked::before,
        input[type='radio']:disabled:active:checked::before {
            background-color: #004b99;
        }
        input[type='radio']:focus::after {
            border-color: #408ad8;
        }
        input[type='checkbox']:focus {
            box-shadow: 0 0 0 3px #408ad8;
        }
        input[type='checkbox']:checked,
        input[type='checkbox']:disabled:active:checked {
            background-color: #004b99;
        }
        .sj-forms .inline-form-field:focus-within input {
            border: none;
        }

        .sj-forms .inline-form-field:focus-within {
            box-shadow: 0 0 0 3px #408ad8;
        }

        .sj-forms .inline-form-field:focus-within .input-wrapper {
            border: 1px solid #004b99;
        }
        .focus-after-v2:focus::after {
            border: 1px solid #004b99;
            box-shadow: 0 0 0 3px #408ad8;
        }
    

